@model IEnumerable<GameForge.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Question" asp-action="Index" method="get">
    <p>
        <label>Title: <input type="text" name="QuestionSearchString" /></label>
        <input type="submit" value="Filter" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Upvotes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfAnswers)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Upvotes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfAnswers)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.QuestionID }) |
                @Html.ActionLink("Details", "Details", new { id=item.QuestionID  }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.QuestionID })
            </td>
        </tr>
}
    </tbody>
</table>
